.cover__subtitle {
    margin: 0 auto;
    padding: 32px 0 0 0;
    max-width: 360px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    z-index: 1;
}

@media screen and (max-width: 470px) {
    .cover__subtitle {
        max-width: 470px;
        width: 100%;
        font-size: 19px;
        line-height: 1.1;
        padding-top: 16px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        width: 100%;
        font-size: 14px;
        line-height: 1.1;
        padding-top: 16px;
    }
}